<link rel="stylesheet" href="stylesheets/style.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<div class="header">
<img src="images/RokuLogo.png" class="logo" alt="Roku Logo">
<a href="#"><img src="images/flashback.png" class="flashback" alt="flashback Logo"></a>
  <a href="../login"><img src="images/user.png" class="smimg user" alt="user"></a>
  <a href="#"><img src="images/HamMenu.png" class="smimg" alt="menu"></a>
  <a href="#"><img src="images/Settings.png" class="smimg" alt="settings"></a>
</div>
<div class="headermsg">
<h1 class="msg">{{ message }}</h1>
<a href="#"><img src="images/movie.png" class="filtericons" alt="Movie"></a>
<a href="#"><img src="images/tv.png" class="filtericons" alt="tv"></a>
<a href="#"><img src="images/music.png" class="filtericons" alt="music"></a>
</div>

<div class="users">
<a href="#"><img src="images/icon.png" class="filteruser1" alt="Movie"></a>
<a href="#"><img src="images/profile1.png" class="filteruser" alt="tv"></a>
<a href="#"><img src="images/profile2.png" class="filteruser" alt="music"></a>
</div>

<h1 class="faq">{{ message2 }}</h1>
<a href="#" class="msg2"><p>How do I use Flashback?</p></a>
<a href="#" class="msg2"><p>How do I hide content from my children?</p></a>
<a href="#" class="msg2"><p>How do I set up Roku?</p></a>

<div class="era">
<a href="#"><img src="images/50S.png" alt="Movie"></a>
<p class="txt50">I Love Lucy was the most watched television show in the 1950's</p>
<a href="#"><img src="images/60S.png" alt="tv"></a>
<p class="txt60">"That's one small step for man, one giant leap for mankind"<br>-Neil Armstrong</p>
<a href="#"><img src="images/70S.png" alt="music"></a>
<p class="txt70">Led Zepplin IV, one of the greatest albums of all time, was released Nov 8th, 1971.</p>
<a href="#"><img src="images/80S.png" alt="Movie"></a>
<p class="txt80">Some of the best movies ever made were from this decade.<br>E.T<br>Caddyshack<br>Ghostbusters</p>
<a href="#"><img src="images/90S.png" alt="tv"></a>
<p class="txt90">Harry Potter and the Philosopher's Stone was release June 26th, 1997</p>
</div>
<div class="footer">
  <img src="images/rokuFoot.png" class="footlogo" alt="Logo">
<h1 class="copy">{{ footer }}</h1>
<img src="images/twitter.png" class="sm1" alt="Twitter">
<img src="images/FB.png" class="sm" alt="Facebook">
<img src="images/insta.png" class="sm" alt="Instagram">
</div>


<ul>
  <li>
    <a href="/getCars" class="get-posts">get cars</a>
  </li>
  <li>
    <a href="/getOne/R58" class="get-one">
      get one • not functional yet
    </a>
  </li>
</ul>


<button id="F56" class="deleteButton">delete row</button>
<button id="F56" class="postButton">post data</button><!--updating db-->
<button id="F55" class="getButton">get XHR data</button>
<button id="F56" class="getButton">get XHR data</button>
<button id="R58" class="getButton">get XHR data</button>
