
<link rel="stylesheet" href="stylesheets/parents.css">
<div class="header">
<img src="images/{{logo}}" class="logo" alt="Roku Logo">
<a href="/"><img src="images/flashback.png" class="flashback" alt="flashback Logo"></a>
  <a href="#"><img src="images/Favourite.png" class="smimg user" alt="favourite"></a>
  <a href="/login"><img src="images/user.png" class="smimg user" alt="user"></a>
  <a href="#"><img src="images/HamMenu.png" class="smimg" alt="menu"></a>
  <a href="#"><img src="images/Settings.png" class="smimg" alt="settings"></a>
</div>
<div class="headermsg">

<a href="#"><img src="images/movie-adult.png" class="filtericons" alt="Movie"></a>
<a href="#"><img src="images/tv-adult.png" class="filtericons" alt="tv"></a>
<a href="#"><img src="images/music-adult.png" class="filtericons" alt="music"></a>
</div>

<div>
<a href="#" class="tab"><img src="images/50stab.png"  alt="Movie"></a>
<a href="#" class="tab"><img src="images/60stab.png" alt="Movie"></a>
<a href="#" class="tab"><img src="images/70stab.png" alt="Movie"></a>
<a href="#" class="tab"><img src="images/80stab.png" alt="Movie"></a>
<a href="#" active class="tab"><img src="images/90stab.png" alt="Movie"></a>







<div class="footer">
  <img src="images/rokuFoot.png" class="footlogo" alt="Logo">
<h1 class="copy">{{ footer }}</h1>
<img src="images/twitter.png" class="sm1" alt="Twitter">
<img src="images/FB.png" class="sm" alt="Facebook">
<img src="images/insta.png" class="sm" alt="Instagram">
</div>
