
<link rel="stylesheet" href="stylesheets/kids.css">
<div class="header">
<img src="images/RokuLogo.png" class="logo" alt="Roku Logo">
<a href="/"><img src="images/flashback.png" class="flashback" alt="flashback Logo"></a>
  <a href="#"><img src="images/Favourite.png" class="smimg user" alt="favourite"></a>
  <a href="/login"><img src="images/user.png" class="smimg user" alt="user"></a>
  <a href="#"><img src="images/HamMenu.png" class="smimg" alt="menu"></a>
  <a href="#"><img src="images/Settings.png" class="smimg" alt="settings"></a>
</div>
<div class="headermsg">

<a href="#"><img src="images/movie-kids.png" class="filtericons" alt="Movie"></a>
<a href="#"><img src="images/tv-kids.png" class="filtericons" alt="tv"></a>
<a href="#"><img src="images/music-kids.png" class="filtericons" alt="music"></a>
</div>



<div class="movies">
<div class="fifties">
  <img src="images/50stab.png" alt="Movie"><br>
<a href="/video"><img src="images/cinderella.png" alt="tv"></a>
<a href="/video"><img src="images/oldyeller.png" alt="tv"></a>
<a href="/video"><img src="images/20000.png" alt="tv"></a>
<a href="/video"><img src="images/peterpan.png" alt="tv"></a>
<a href="/video"><img src="images/tomthumb.png" alt="tv"></a>
</div>
<div class="sixties">

  <img src="images/60stab.png" alt="Movie"><br>
<a href="#"><img src="images/soundmusic.png" alt="tv"></a>
<a href="#"><img src="images/marypoppins.png" alt="tv"></a>
<a href="#"><img src="images/junglebook.png" alt="tv"></a>
<a href="#"><img src="images/grinch.png" alt="tv"></a>
<a href="#"><img src="images/101dalmations.png" alt="tv"></a>
</div>
<div class="seventies">
<img src="images/70stab.png" alt="Movie"><br>
<a href="#"><img src="images/aristocats.png" alt="tv"></a>
<a href="#"><img src="images/willywonka.png" alt="tv"></a>
<a href="#"><img src="images/bedknobs.png" alt="tv"></a>
<a href="#"><img src="images/petesdragon.png" alt="tv"></a>
<a href="#"><img src="images/winnietigger.png" alt="tv"></a>
</div>
<div class="eighties">
  <img src="images/80stab.png" alt="Movie"><br>
<a href="#"><img src="images/princessbride.png" alt="tv"></a>
<a href="#"><img src="images/thegoonies.png" alt="tv"></a>
<a href="#"><img src="images/et.png" alt="tv"></a>
<a href="#"><img src="images/peewee.png" alt="tv"></a>
<a href="#"><img src="images/littlemermaid.png" alt="tv"></a>
</div>
<div class="nineties">
  <img src="images/90stab.png" alt="Movie"><br>
<a href="#"><img src="images/homealone.png" alt="tv"></a>
<a href="#"><img src="images/nightmare.png" alt="tv"></a>
<a href="#"><img src="images/lionking.png" alt="tv"></a>
<a href="#"><img src="images/toystory.png" alt="tv"></a>
<a href="#"><img src="images/mightyducks.png" alt="tv"></a>
</div>

</div>




<div class="footer">
  <img src="images/rokuFoot.png" class="footlogo" alt="Logo">
<h1 class="copy">{{ footer }}</h1>
<img src="images/twitter.png" class="sm1" alt="Twitter">
<img src="images/FB.png" class="sm" alt="Facebook">
<img src="images/insta.png" class="sm" alt="Instagram">
</div>
